.otstup {
    padding-left: 20px;
    color: darkgray;
}

p {
    padding-left: 100px;
}



/*НАЧАЛО РАБОТЫ*/

.block {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    text-decoration: None;
    color: lightcoral;
}

.block img + .block-text {
    margin-left: 0.5em;
}

.block .block-text + img {
    margin-left: 0.5em;
}

.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.navigation {
    position: absolute;
    top: 25%;
    right: 10%;
    bottom: 0;
    left: 0;
    margin-left: 20%;
}

/*КОНЕЦ НАВИГАЦИИ*/

.messenger {
    position: absolute;
    top: 25%;
    right: 10%;
    bottom: 0;
    left: 0;
    margin-left: 34%;
    overflow: auto;
}

.messenger::-webkit-scrollbar {
  width: 0;
}

.searcher_dialogs {
    position: absolute;
    top: 20%;
    right: 10%;
    bottom: 0;
    left: 0;
    margin-left: 40%;
    overflow: auto;
}

.ul_messenger {
    list-style-type: none;
    width: 60%;
}

.avatar_messenger {
    border-radius: 100%;
    display: inline-block;
    width: 52px;
    height: 52px;
    object-fit: cover;
}

.fio {
    position: absolute;
    top: 16%;
}

.last_message {
    word-wrap: break-word;
    width: 70%;
    display: inline-block;
}

.one_dialog {
    margin-top: 5%;
}

.last_message_time {
    width: 15%;
    text-align: right;
    display: inline-block;
}

.delimiter {
    margin-top: 3%;
}

@font-face {
    font-family: 'Title App';
    src: url("../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}



.title_app {
    background-color: deepskyblue;
    color: white;
    font-family: "Title App";
}

.js-select2 {
    width: 35%;
}


option {
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

option:hover {
    background-color: #eee;
}


/*DIALOG WITH ANYONE*/

.dialog {
    top: 10%;
}

.gif_loading {
    width: 50px;
}

.but_back {
    background-color: transparent;
    color: gray;
    border: 0;
    font-size: 22px;
    width: 20%;
    text-align: left;
}

.dialog_chat {
    top: 18%;
    border-radius: 15px;
    background-color: gray;
}

.message {
    background-color: white;
}







.chat_other{
    float: left;
    display: block;
    width: 50%;
}

.messages{
    height: 80%;
    overflow-y: scroll;
    margin: 10px;
}

.chat_messages_2{
    background-color: #d6edf7;
    padding: 10px;
    border-radius: 10px 0px;
    width: fit-content;
    margin: 0px 20px 5px;
    float: right;
    max-width: 45%;
    display: inline-block;
}

.chat_messages p {
    margin: 0px;
    padding-left: 0;
    word-wrap: break-word;
}

.chat_messages_2 p {
    margin: 0px;
    padding-left: 0;
    word-wrap: break-word;
}

.chat_messages{
    background-color: #d6edf7;
    padding: 10px;
    border-radius: 10px 0px;
    width: fit-content;
    margin: 0px 0px 5px;
    max-width: 45%;
    display: inline-block;
}

.clear-line{
    background: transparent;
    font-size: 7px;
    height: 10px;
    line-height: 10px;
    clear: both;
}

.messages::-webkit-scrollbar {
  width: 0;
}

.send_message {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

.link_profile_in_chat {
    color: deepskyblue;
}
.link_profile_in_chat:hover {
    color: deepskyblue;
}

.indent {
    margin-left: 30%;
}

.one_dialog_li {
    margin-top: -4%;
}

.message_date_line {
    height: 1px;
    border: 1px solid;
    text-align: center;
    margin-bottom: 10px
}

.message_time {
    margin-left: 15px;
}

.message_time_2 {
    text-align: right;
    padding-top: 5%;
}

.online_circle {
    width: 15px;
    height: 15px;
    background-color: lawngreen;
    border-radius: 50%;
    display: inline-block;
    padding-left: 0;
    margin: 0;
    display: inline-block;
}

.fio_dialog {
    font-size: 20px;
}

.main_messenger_class {
    height: 70%;
}

.not_read {
    background-color: #3298c5;
}

.online_title {
    display: inline-block;
    padding-right: 15px;
    color: mediumseagreen;
    padding-left: 0;
}