<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="MobileOptimized" content="320">
    <title>ZM Messenger</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
</head>
<body>
<div class="parent">
    <div class="navigation">
        <a href="https://vk.com/al_im.php" class="block" id="submit">
            <img src="../static/img/my_profile_ready.jpg" alt="Мой профиль">
            <span class="block-text">My profile</span>
        </a>
        <a href="https://vk.com/al_im.php" class="block">
            <img src="../static/img/my_profile_ready.jpg" alt="Мой профиль">
            <span class="block-text">Messenger</span>
        </a>
    </div>
    <div class="messenger">
        <ul class="ul_messenger">
            <li>
                <div class="one_message">
                    <img src="../static/img/avatar1_ready.jpg" alt="avatar1" class="avatar_messenger">
                    <a href="https://vk.com/al_im.php" class="block">
                        <div class="fio">
                            <span>Александр Зейферт</span>
                        </div>
                    </a>
                    <div class="last_message">
                        <span>Пока</span>
                    </div>
                    <div class="last_message_time">
                        <span>18:35</span>
                    </div>
                </div>
            </li>
            <li><div class="delimiter"><span>-------------------------------------------------</span></div></li>
            <li>
                <div class="one_message">
                    <img src="../static/img/avatar1_ready.jpg" alt="avatar1" class="avatar_messenger">
                    <a href="https://vk.com/al_im.php" class="block">
                        <div class="fio">
                            <span>Александр Зейферт2</span>
                        </div>
                    </a>
                    <div class="last_message">
                        <span>Пока2</span>
                    </div>
                    <div class="last_message_time">
                        <span>18:352</span>
                    </div>
                </div>
            </li>
            <li><div class="delimiter"><span>-------------------------------------------------</span></div></li>
        </ul>
    </div>
</div>
</body>
<script src="../static/scripts/main.js"></script>
</html>