{% extends "base.html" %}
{% block content %}
<div class="parent">
    <div class="navigation">
        <a href="https://vk.com/al_im.php" class="block" id="my_profile">
            <img src="../static/img/my_profile_ready.jpg" alt="My profile photo">
            <span class="block-text">My profile</span>
        </a>
        <a href="https://vk.com/al_im.php" class="block">
            <img src="../static/img/my_profile_ready.jpg" alt="Мой профиль">
            <span class="block-text">Messenger</span>
        </a>
    </div>
    <div class="searcher_dialogs">
        <select class="js-select2 position-sticky" name="city" id="choose_dialog" placeholder="Выберите город">
            <option value=""></option>
        </select>
    </div>
    <div class="messenger">
        <ul class="ul_messenger" id="ul_messenger_id">
            <li><div class="delimiter"><span>-------------------------------------------------</span></div></li>
        </ul>
    </div>
</div>
{% endblock %}